#header-section {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #191A19;
}
#logo-and-title {
    position: fixed;
    margin-top: 7px;
    margin-left: 87px;
    width: 100px;
    height: 45px;
}
#side-section {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 67px;
    height: 100%;
    background-color: #191A19;
}
body {
    height: 10000px;
}
#menu-icon {
    margin-top: 7px;
    background-color: #191A19;
}
#menu-icon:hover {
    background-color: #313131;
}
#home-icon {
    margin-top: 21px;
    background-color: #191A19;
}
#home-icon:hover {
    background-color: #313131;
}
#shuffle-icon {
    margin-top: 21px;
    background-color: #191A19;
}
#shuffle-icon:hover {
    background-color: #313131;
}
#account-icon {

    background-color: #191A19;
}
#account-icon:hover {
    background-color: #313131;
}
.search-bar {
    margin-top: 10px;
    margin-left: 125px;
}
.center {
    display: block;
    margin: auto;
}
#rect_1 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
}
#rect_2 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
    background: url("https://artsandculture.google.com/asset/american-gothic/5QEPm0jCc183Aw?utm_source=google&utm_medium=kp&hl=en-GB&avm=2");
}
#rect_3 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
    background: url("https://artsandculture.google.com/asset/girl-with-a-pearl-earring/3QFHLJgXCmQm2Q?utm_source=google&utm_medium=kp&hl=en-GB&avm=2");
}
#rect_4 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
    background: url("https://artsandculture.google.com/asset/the-starry-night/bgEuwDxel93-Pg?utm_source=google&utm_medium=kp&hl=en-GB&avm=2");
}
#rect_5 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
    background: url("https://artsandculture.google.com/asset/portrait-of-the-artist-s-mother/2QH4InLXWX6UMQ?utm_source=google&utm_medium=kp&hl=en-GB&avm=2");
}
#rect_6 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
    background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F5%2F5a%2FThe_Night_Watch_-_HD.jpg%2F1200px-The_Night_Watch_-_HD.jpg&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FThe_Night_Watch&tbnid=ZHdLgPCMVfWLjM&vet=12ahUKEwjP9qLUzKH1AhVri9gFHd9tDdkQMygAegUIARDUAQ..i&docid=4usFQ-tdPfIwBM&w=1200&h=1005&itg=1&q=the%20night%20watch&ved=2ahUKEwjP9qLUzKH1AhVri9gFHd9tDdkQMygAegUIARDUAQ");
}
#rect_7 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
}
#rect_8 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
    background: url("https://artsandculture.google.com/asset/christ-in-the-storm-on-the-sea-of-galilee/HAFJC4JVXYbUBg?utm_source=google&utm_medium=kp&hl=en-GB&avm=2");
}
#rect_9 {
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
    background: url("https://www.google.com/search?sxsrf=AOaemvLlaTe1Nx8BJhn1y6EZoLLPm1KQBA:1641625923376&q=The+Old+Guitarist&stick=H4sIAAAAAAAAAONgFuLQz9U3MDOIN1fiBLEsTM0KC7WUspOt9Msyi0sTc-ITi0qQmJnFJVbl-UXZxY8Yg7kFXv64JyzlNWnNyWuMLlxEaBIS42JzzSvJLKkU4pHi4oLbbcWkwVTFxMHMs4hVMCQjVcE_J0XBvTSzJLEIqHUCGyMACVEIPKgAAAA&sa=X&ved=2ahUKEwiq6JCQzaH1AhU2SGwGHSmqCbQQ-BZ6BAgjEBc&tbs=kac:1,kac_so:0");
}
#rect_10 {
    background: url("https://artsandculture.google.com/asset/the-great-wave-off-the-coast-of-kanagawa/fAFp7yddSAtcTQ?utm_source=google&utm_medium=kp&hl=en-GB&avm=2");
    width: 215px;
    height: 215px;
    border: 3px solid #24CA24;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #A1F4A1;
    border-radius: 52px;
}
#for-you {
    display: flex;
    padding-left: 150px;
    justify-content: space-between;
}
#recent {
    display: flex;
    padding-left: 150px;
    justify-content: space-between;
}
#for_you-text{
    padding-left: 110px;
    color: #24CA24;
    padding-top: 125px;
    font-size: 40px;
}
#recent-text {
    padding-left: 110px;
    color: #24CA24;
    padding-top: 50px;
    font-size: 40px;
}
#rest-area {
    background: black;
}
body {
    background: black;
}